<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
   <div class="w-full min-h-screen bg-zinc-900 p-10">
    
    <div class = "w-full flex justify-end "></div>


    <div class = "w-full flex justify-end gap-10">

        <div class = "bg-blue-600 w-30 h-10 text-center hover:bg-blue-700 p-2 rounded-lg text-white">
        <a href="/allpost">All Posts 🎥</a>
    </div>

        <a class= "bg-blue-600  hover:bg-blue-700 px-2 py-2 rounded-lg text-white " href="/profileupload">
        Upload Profile
    </a>
        <a class= "bg-red-500 px-2 py-2 rounded-lg text-white " href="/logout">
        logout
    </a></div>
   

    <div class = "flex gap-3 mb-2">

     <div class = "w-10 h-10 overflow-hidden"> <img class = "rounded-lg  w-full h-full" src="/images/<%=user.profilepic%>" alt="">
        </div>

      <h1 class= "text-blue-500 text-3xl w-full ">Hayyy, <%= user.username %> 👋</h1>

    </div>
    
   <div class = "flex gap-10">
    <form action ="/post" method = "post">

        <input class = "px-2 py-0 text-white rounded-lg border-2 block mb-4 outline-none w-79 h-20" type="textarea" placeholder = "write what in your mind" name = "textarea">

        <input type="submit" class = "text-white bg-blue-600 rounded-lg mt-2 px-2 py-4 text-sm hover:bg-blue-800" value = "Create Your Post 📢">

    </form>

    

    </div>
    <hr class = "my-4 text-zinc-800">

    <h2 class= "mt-8 text-zinc-400 ">All Posts</h2>
    <div class = "PostContainer p-5 w-full flex gap-2 flex-wrap">

        <% user.posts.reverse().forEach(function(post){ %>
              <div class= "flex flex-col ml-5 w-fit p-2 px-4 rounded-lg border-zinc-800 border-1 bg-zinc-800">

        <h3 class = "text-blue-500">@<%=user.username%>, posts</h3>

         <p class = "text-zinc-300 mt-2 text-wrap"><%=post.content%></p>
         
         <div class = "flex gap-4 ">

         <a class = "text-blue-400 rounded-lg mt-4" href="/like/<%=post._id%>" > <%=post.likes.length%> <%= post.likes.indexOf(user._id) ? "like" : "Unlike" %></a>

         <a href="/edit/<%=post._id%>" class = "text-zinc-400 mt-4">edit</a>
         <a href="/delete/<%=post._id%>" class = "text-red-400 mt-4">delete</a>
         </div>

         </div>
       <% }) %>

        
    </div>
   </div>
</body>
</html>